<ul>
  {{#each products}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('updateProducts', (products) => {

    const productList = document.querySelector('ul');
    productList.innerHTML = '';

    products.forEach((product) => {
      const listItem = document.createElement('li');
      listItem.textContent = product.name;
      productList.appendChild(listItem);
    });
  });
</script>